<h1>New Advertisement</h1>
<div class="row">
    <%= form_for @advertisements do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', placeholder:"Enter Post title" %>
        </div>
        <div class="form-group">
            <%= f.label :copy %>
            <%= f.text_field :copy, rows:8, class: 'form-control', placeholder: "Enter Post Body" %> 
        </div>
        <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price, class: 'form-control', placeholder: 99 %>
        </div>
        <div class="form-group">
            <%= f.submit "Save", class: 'btn btn-sucess' %>
        </div>
    <% end %>
</div>
